[submodule "fast_campus_BM"]
	path = fast_campus_BM
	url = https://github.com/MBKwon/fast_campus_BM.git
[submodule "apply_pattern"]
	path = apply_pattern
	url = https://github.com/MBKwon/apply_pattern.git
